.carousel {
	padding: 50px 0;
	min-height: 1100px;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.slider__title {
	font-size: 45px;
	font-weight: 400;
	line-height: 45px;
	text-shadow: 3px 2.5px 4px black, 1px 1.5px 2px black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.micro-slider {
	min-height: 900px;
	/* margin: 10px 0; */
	position: relative;
	width: 100%;
}

.micro-slider.fullwidth {
	height: 480px;
	/* margin: 64px 0; */
}

.micro-slider.fullwidth .slider-item {
	height: 100%;
	line-height: 480px;
	width: 100%
}

.slider-wrapper {
	height: 35vh;
	width: 100vh;
	position: relative;
	transform-style: preserve-3d;
	transform-origin: 0 50%;
	bottom: -50px;
	margin: 0 auto;
}

.slider-item {
	color: #FFF;
	display: none;
	font-size: 28px;
	height: 950px;
	left: 0;
	position: absolute;
	text-align: center;
	width: 350px;
	cursor: grab;
}

.indicators {
	bottom: -70px;
	left: 47%;
	list-style-type: none;
	margin: 0 0 30px;
	padding: 0;
	position: absolute;
}

.indicators li {
	color: #fff;
	float: left;
	height: 16px;
	margin-right: 8px;
	text-align: center;
	width: 16px;
}

.indicators li:last-child {
	margin: 0;
}

.indicators a {
	background: #FFF;
	border-radius: 8px;
	border: 1px solid #E6E9EC;
	color: #FFF;
	display: inline-block;
	height: 16px;
	width: 16px;
}

.slider__img {
	max-width: 450px;
	margin-bottom: 20px;
}

.slider-item h3 {
	font-size: 35px;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 30px;
}

@media (max-width: 1060px) {

	.slider__img {
		max-width: 350px;
	}

	.slider-wrapper {
		height: 35vh;
		width: 80vh;
	}
}

@media (max-width: 840px) {
	.slider-item h3 {
			font-size: 28px;
			line-height: 30px;
			margin-bottom: 20px;
		}

		.slider-item p {
			font-size: 23px;
			line-height: 20px;
		}

		.slider-wrapper {
			height: 950px;
		}

		.slider-item {
			height: 600px;
		}
	
		.micro-slider {
			min-height: 800px;
		}
	
		.carousel {
			min-height: 100%;
		}

		.indicators {
			bottom: 55px;
		}
}

@media (max-width: 360px) {

	.slider__img {
		max-width: 250px;
	}

		.slider-wrapper {
			height: 590px;
		}

	.slider-item {
		height: 190px;
	}

	.micro-slider {
		min-height: 650px;
	}

	.carousel {
		min-height: 600px;
		margin: 0 auto;
		padding: 20px 0;
		align-content: flex-start;
	}

		.slider-item h3 {
			font-size: 20px;
			line-height: 20px;
			margin-bottom: 12px;
		}
	
		.slider-item p {
			font-size: 12px;
			line-height: 12px;
			text-align: center;
			margin: 0 auto;
			padding: 0 50px;
		}

			.indicators {
				bottom: 200px;
			}

		.slider__title {
			font-size: 20px;
			line-height: 25px;
		}
}