:root {
    --main-color: #CD06FF;
    --primary-color: #6C0287;
    --primary-color-2: #440F51;
    --primary-color-3: #840AA3;
    --primary-color-4: #640AA3;
    --primary-background-color: #EADEED;
    --background-color: #1B1A1B;
}